
<div class="container text-start">
    <div class="row">


        <div class="col-lg-12 ">
            <div class="card py-3 bg-light">
                <div class="card-body">
                    <div class="mb-3 text-end">
                        <a [routerLink]="['/admin/users']" class="btn btn-success btn-sm">Back</a>
                    </div>
                    <h4 class="text-center">Update User</h4>
                
                    <form [formGroup]="form" (ngSubmit)="submit()" >
                
                        <div class="row">
                            <div class="col-lg-6 my-3">
                                <label class="mb-1" for="role">Name</label>
                                <input formControlName="name" [(ngModel)]="users.name" id="name" type="text" class="form-control" placeholder="Ahmed Zidan">
                                <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                                    <div *ngIf="f['name'].errors && f['name'].errors['required']" class="text-danger">
                                        Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 my-3">
                                <label class="mb-1" for="role">Email</label>
                                <input formControlName="email" [(ngModel)]="users.email" id="email" type="text" class="form-control" placeholder="example@gmail.com">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']" class="text-danger">
                                    Email is required
                                </div>
                            </div>
                        </div>
                
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label class="mb-1" for="role">Role</label>
                                <select formControlName="role" [(ngModel)]="users.role" class="form-control" id="role">
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                                <div *ngIf="f['role'].errors && f['role'].errors['required']" class="text-danger">
                                    Role is required
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="mb-1" for="password">Active</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="is_active" formControlName="is_active" [(ngModel)]="users.is_active">
                                        <label class="form-check-label" for="is_active">
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>                            
                            
                        </div>
                        
                        
                
                        <button class="btn btn-primary btn-sm" type="submit" >Update User</button>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
</div>
