<nav class="navbar navbar-expand-lg navbar-dark py-0">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../../../assets/logo-app.png" width="50"> Business Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="!auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!auth.isLoggedIn()" class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        </li>
        
        <li *ngIf="auth.isLoggedIn()">
          <button class="btn btn-danger" (click)="auth.logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" *ngIf="auth.isLoggedIn()">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Business Name </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <!-- admin -->
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="auth.isAdmin()">
      <li class="nav-item">
        <a [routerLink]="['/admin']" class="nav-link">
          <i class="fa-solid fa-house me-3"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/users']" class="nav-link">
          <i class="fa-solid fa-users me-3"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/logs']" class="nav-link">
          <i class="fa-solid fa-chart-simple me-3"></i>
          <span>Logs</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin']" class="nav-link">
          <i class="fa-solid fa-clone me-3"></i>
          <span>Cards</span>
        </a>
      </li>
    </ul>

    <!-- user -->
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="!auth.isAdmin()">
      <li class="nav-item">
        <a [routerLink]="['/dashboard']" class="nav-link">
          <i class="fa-solid fa-house me-3"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/dashboard/cards']" class="nav-link">
          <i class="fa-solid fa-clone me-3"></i>
          <span>Cards</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper" *ngIf="auth.isLoggedIn()">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="navbar-toggler ms-4 mt-5" [ngStyle]="{'font-size': '25px'}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars text-white"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">Sidebar Menu</a>
      </div>
    </div>

    <!-- admin -->
    <ul class="sidebar-nav" *ngIf="auth.isAdmin()">

      <li class="sidebar-item">
        <a [routerLink]="['/admin']" class="sidebar-link" title="Dashboard">
          <i class="fa-solid fa-house me-3"></i>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#users" aria-expanded="false" aria-controls="users">
          <i class="fa-solid fa-users me-3"></i>
        </a>
        <ul id="users" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a [routerLink]="['/admin/users']" class="sidebar-link">Users</a>
          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/admin/users/create']" class="sidebar-link">Create New</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a [routerLink]="['/admin/logs']" class="sidebar-link collapsed" title="Logs">
          <i class="fa-solid fa-chart-simple me-3"></i>
        </a>
      </li>
      <li class="sidebar-item">
        <a [routerLink]="['/admin/cards']" class="sidebar-link" title="Cards">
          <i class="fa-solid fa-clone me-3"></i>
        </a>
      </li>
      <li class="sidebar-item mt-5 m-2">
        <a (click)="auth.logout()" class="sidebar-link btn btn-danger btn-sm px-3" title="Logout">
          <i class="fa-solid fa-arrow-right-from-bracket text-white me-3"></i>
        </a>
      </li>
    </ul>


    <!-- user -->
    <ul class="sidebar-nav" *ngIf="!auth.isAdmin()">

      <li class="sidebar-item">
        <a [routerLink]="['/dashboard']" class="sidebar-link">
          <i class="fa-solid fa-house me-3"></i>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#cards" aria-expanded="false" aria-controls="cards">
          <i class="fa-solid fa-clone me-3"></i>
        </a>
        <ul id="cards" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a [routerLink]="['/dashboard/cards']" class="sidebar-link">Cards</a>
          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/dashboard/cards/create']" class="sidebar-link">Create New</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item mt-5">
        <a (click)="auth.logout()" class="sidebar-link">
          <i class="fa-solid fa-arrow-right-from-bracket text-white me-3"></i>
        </a>
      </li>
    </ul>
  </aside>


  <div class="main p-3">
    <div class="text-center">
      <div class="container-fluid mt-5">
        <div class="row">
          
          <div class="col-lg-12">
            <router-outlet />
          </div>

        </div>
      </div>
      
      
    </div>
  </div>
</div>


<div *ngIf="!auth.isLoggedIn()">
  <div class="container mt-5">
    <div class="row">
      
      <div class="col-lg-12">
        <router-outlet />
      </div>

    </div>
</div>



