<div class="row">
    <div class="col-lg-5 m-auto">
        <img src="../../../assets/register.png" width="100%">
    </div>
    <div class="col-lg-7 m-auto">
        <div class="bg-light rounded  shadow">
            <div class="p-4 text-center">
                <img src="../../../assets/logo-app.png" width="80">
                <h4 class="pt-3">Welcome</h4>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="submit()" class="p-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" formControlName="name" required class="form-control" id="name" placeholder="Ahmed Zidan">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" formControlName="email" required class="form-control" id="email"  placeholder="example@gmail.com">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" formControlName="password" required class="form-control" id="password" placeholder="**********">
                </div>
                <button type="submit" class="btn btn-success">Sign Up</button>
                <div class="form-text">You already have an account ? <a class="text-success" [routerLink]="['/login']">Login</a>.</div>
            </form>
        </div>
    </div>
</div>
